.Brand {
  display: inline-block;
  cursor: pointer;
  text-align: left;
  border-radius: 50%;
}
.Brand img {
  width: 100%;
  height: 100%;
  margin-top: 0.4rem;
}
.Brand:hover {
  opacity: 0.6;
}

@media (max-width: 960px) {
  .Brand img {
    width: 90%;
    height: 90%;
    margin-top: 0.3rem;
  }
}

@media (max-width: 480px) {
  .Brand img {
    width: 70%;
    height: 70%;
    margin-top: 0.4rem;
  }
}
