body {
  margin: 0;
  font-family: "Montserrat", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  text-align: center;
  height: 100%;
  background-color: black;
}
